<h4>Fire information</h4>
  <ul>
    <li><a href="{% link fire/index.md %}">Home</a></li>
    <li><a href="{% link fire/service-status.md %}">Campus Services</a></li>
  </ul>

<h4>Wildfire Relief</h4>
<ul>
  <li><a href="{% link fire/get-help.md %}">Get help</a></li>
  <li><a href="{% link fire/how-to-help.md %}">How to help</a></li>
</ul>

<h4>Other Resources</h4>
  <ul>
    <li><a href="https://oes.ucsc.edu/fire-prevention/campus-wildfire-awareness.html">UCSC Fire Awareness</a></li>
    <li><a href="https://maps.nwcg.gov/sa/#/%3F/%3F/36.996/-122.111/10">US Fire Incident Map</a></li>
  </ul>
