.hero-area .text h2,
.hero-area .text p {
    margin: .2em 0;
    color: rgba(7, 78, 132, 1.00);
}

#sprflt {
    .main-content,
    .sidebar {
        float: none;
        margin: 0;
        width: 100%;
    }
}

@media screen and (min-width: 48em) {
    .hero-area.layout-left {
        width: 100%;
        max-width: 50%;
        margin: 2% 0;
    }
    .hero-area.layout-left {
        left: 0;
    }
    .color-gold {
        background-color: #f1af13;
    }

    .hero-area {
        width: 100%;
        bottom: 0;
        z-index: 1;
        position: relative;
        
        .text {
            position: absolute;
            bottom: 2em;
            right: 0;
            background-color: rgba(239, 174, 46, 1);
            padding: 1em 2em;
            max-width: 26em;
            font-size: 1.1rem;


            h2, p {
                color: rgba(7, 71, 138, 1.00);
                margin: 0 0 .25em 0;            
            }

            h2 {
                font-weight: 600;
            }
        } 
    }    
}

.main-navigation .current,
.main-navigation .current:focus,
.main-navigation .current:hover,
.main-navigation .current:active   {
  text-decoration: none;
  border-bottom: 2px solid #CDECFF !important;
  color: #000000 !important;
}

a:focus-visible {
  color: #111111 !important;
  background-color: #ffff00 !important;
  border: none !important;
  outline: 1px dotted #111111;
  text-decoration: none !important;
}

.separate .inner {
    min-height: auto;
}

#noflt .main-content {
    max-width: 42em;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

#main {
    flex-grow: 1;
}

.main-content > :first-child {
    margin-top: 0;
    padding-top: 0; 
}

@media screen and (min-width: 48em) {

    .three.separate.flex {
        display: flex;
        justify-content: space-between;

        .wrap {
            flex-basis: 48%;
            float: none;
            width: auto;
        }
    }

    .gsc-control-cse {
        padding: 0 !important; 
    }

    #sprflt {
        flex-direction: row-reverse;
    }

    #sprflt .main-content {
        width: 75%;
        margin-left: 1%;
    }

    #sprflt .sidebar {
        width: 24%;
    }


    .quote-block .inner {

        blockquote {
            text-transform: none;
            font-size: 1.6rem;
            font-weight: 300;
            border: 0;
            padding: 0 1em;        
        }

        span {
            font-weight: 400;
            display: block;
            text-align: right;
        }

        a:hover,
        a:focus,
        a:active {
            text-decoration: none;
            background-color: red;
        }
    }

}

